################################
## White list based gitignore ##
################################

# forbidden
*
.*

# allowed
!.gitignore
!.gitattributes
!.gitea/
!.gitea/workflows/
!.gitea/workflows/push.yaml
!.gitea/workflows/release.yaml
!p1/
!p1/1.txt
!*.md